*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --bg-primary: #0f172a;
    --bg-secondary: #1e293b;
    --bg-input: #334155;
    --text-primary: #e2e8f0;
    --text-secondary: #94a3b8;
    --border-color: #475569;
    --accent-primary: #3b82f6;
    --accent-hover: #2563eb;
}

body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 20px;
    font-family: sans-serif;
}

.container {
    background-color: var(--bg-secondary);
    color: var(--bg-primary);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);

}

h1 {
    color: var(--text-primary);
    text-align: center;
}

label {
    display: block;
    color: var(--text-secondary)
}

input,
select {
    width: 100%;
    padding: 10px;
    background-color: var(--bg-input);
    color: var(--text-primary);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-top: 5px;
}

.button{
    background-color: var(--accent-primary);
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: var(--text-primary);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 5px;
    width: 100%;
}

.button:hover {
    background-color: var(--accent-hover);
}

#result {
    margin-top: 20px;
    padding: 15px;
    background-color: var(--bg-input);
    border-radius: 8px;
    color: var(--text-primary);
    text-align: center;
    border: 1px solid var(--border-color);
    font-weight: bold;
}